---
import SectionContainer from "../SectionContainer.astro";
import Card from "../Card.astro";
import { Image } from "astro:assets";
---

<SectionContainer id="sobre-mi" ariaLabel="About me" title="Sobre mi">
  <div>
    <Image
      src="/profile.jpeg"
      alt="Amed Pereda"
      width="200"
      height="200"
      loading="eager"
      class="shadow-[0px_0px_2px_2px_#f4ddb1] relative flex items-center overflow-hidden size-[200px] mx-auto my-6 rounded-[50%] aspect-square p-1 ring-1 ring-[#fde68a]/80"
    />
    <p class="mb-4">
      En 2019, decidí intentar crear una página personalizada, vi algunos
      tutoriales de YouTube y caí de cabeza en la madriguera de la codificación
      y el desarrollo web. Si avanzamos hasta el día de hoy, he tenido el
      privilegio de crear un sitio web para una Start-Up.
    </p>
    <p class="mb-4">
      Mi enfoque principal en estos días es seguir aprendiendo para poder crear
      productos y liderar proyectos profesionales.
    </p>

    <p class="mb-4">
      En mi tiempo libre, cuando no estoy frente a la computadora normalmente
      estoy caminando por el campo, saliendo con mi familia o tocando la
      guitarra.
    </p>
  </div>

  <div class="mt-24">
    <h2 class="uppercase text-sky-300">Habilidades</h2>
  </div>
  <div
    class="mx-auto grid grid-cols-1 gap-4 px-8 mt-8 md:grid-cols-2 lg:grid-cols-3">
    <Card
      description="Desarrollo FrontEnd"
      techs={[
        "HTML",
        "CSS",
        "JavaScript",
        "React",
        "Astro",
        "Bootstrap",
        "Tailwind",
      ]}
      cardGridStyles="lg:col-span-1 lg:row-span-2"
    />

    <Card
      description="UX/UI"
      techs={["Figma"]}
      cardGridStyles="lg:col-span-1 lg:row-span-1"
    />

    <Card
      description="Programación Backend"
      techs={["Java", "Spring Boot", "Python", "PHP", "MySql"]}
      cardGridStyles="lg:col-span-1 lg:row-span-2"
    />

    <Card
      description="Herramientas"
      techs={["Git", "Github", "npm", "Terminal"]}
      cardGridStyles="lg:col-span-1 lg:row-span-1"
    />

    <Card
      description="SoftSkills"
      techs={["Trabajo en equipo", "Resiliencia", "Compromiso", "Creatividad"]}
      cardGridStyles="lg:col-span-3 lg:row-span-1 md:col-span-2"
    />
  </div>
</SectionContainer>
